<h1 class="text-center my-4">Registro de usuarios</h1>

<div class="row justify-content-center  ">
    <div class="col-md-6 bg-dark p-4">

        <form action="/auth/register" method="POST">
          

            <input type="text" name="userName" class="form-control mt-3" placeholder="ingrese nombre de usuario">

            <input type="email" name="email" class="form-control mt-3" placeholder="ingrese correo">

            <input type="password" name="password" class="form-control mt-3" placeholder="ingrese contraseña">

            <input type="password" name="repitepassword" class="form-control mt-3" placeholder="repite contraseña">

            <button type="submit" class="btn btn-primary mt-2">Registrar usuario</button>
        </form>

    </div>
</div>